.wrap {
    display: block;
    text-align: center;
    font-size: xx-large;
    overflow-wrap: break-word;
}

.text {
    margin: 2% auto;
}

.user_input {
    display: flex;
    justify-content: center;
}

#past {
    color: white;
    background-color: black;
}

#future {
    color: black;
}

p, #result {
    text-align: center;
    font-size: x-large;
    margin-top: 3%;
}